/*Home and Accident Pictures Background Tiled Picture*/
body
   {
   background-image: url("../images/bkgdtilebeige.png");
   background-attachment:fixed
   }
 
/*Resume Background Tiled Picture*/ 
.suitpic
   {
   background-image: url("../images/mesuited.png");
   background-attachment:fixed
   }
 
/* Header */
header
  {
  background:#ff0000;
  color:#ffffff;
  width: 100%;
  float:center;
  text-align: center;
  position: fixed;
  min-height:15px;
  left: 0px;
  right: 0px;
  top: 0px;
  -webkit-box-shadow: 0px 9px 20px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 9px 20px 2px rgba(0,0,0,0.24);
  box-shadow: 0px 9px 20px 2px rgba(0,0,0,0.24);
  }

header a
  {
  font-family: 'Garamond Black', serif;
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:15px;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  }
  
header a:hover
  {
  color:#ffff00;
  }

header li
  {
  float:center;
  display:inline;
  padding: 0px 20px 10px 20px;
  }

h1
  {
  font-family: 'Garamond Bold', serif;
  color :#000000;
  font-size:30px;
  text-align: center;
  }

#mystory
  {
  background:#ffeecc;
  color:#ffffff;
  margin: 120px auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom:80px;
  width: 80%;
  border-left:#ffe0b3 10px solid;
  border-right:#ffe0b3 10px solid;
  text-decoration: none;
  float: center;
  } 
  /*padding-top:50px;
  padding-left:10px;
  padding-right:10px;
  margin-right: 120px;
  min-height:20px;
  margin-left: 120px;*/

.storyparts
  {
  padding-top:40px;
  padding-top:40px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 0px;
  min-height:10px;
  }
 
.storyparts h1
  {
  font-family: 'Garamond Bold', serif;
  color :#000000 ;
  text-align:center;
  }
  
.storyparts p
  {
  font-family: 'Garamond Bold', serif;
  color:#000000;
  text-align:left;
  padding-bottom:0px;
  }

.storyparts a
  {
  font-family: 'Garamond Bold', serif;
  color:#800000;
  text-align:left;
  text-decoration: none;
  }
  
.storyparts a:hover
  {
  color:#ff0000;
  }

.storyparts a:visited
  {
  color:#b36b00; 	
  }
 
.storyparts h3, h4
  {
  font-family: 'Garamond Bold', serif;
  color:#000000;
  text-align:left;
  padding-top:0px;
  line-height:.5em; 
  }
  
.storyparts1
  {
  font-family: 'Garamond Bold', serif;
  color:#000000;
  margin-right: 50px;
  margin-left: 50px;
  text-align:left;
  padding-top:0px;
  line-height:1.2em; 
  }
 
 .storyparts1 p
  {
  font-family: 'Garamond Bold', serif;
  color:#000000;
  text-align:left;
  padding-bottom:0px;
  }

.storyparts1 a
  {
  font-family: 'Garamond Bold', serif;
  color:#800000;
  text-align:left;
  text-decoration: none;
  }
  
.storyparts1 a:hover
  {
  color:#ff0000;
  }

.storyparts1 a:visited
  {
  color:#b36b00; 	
  }
  
/*Name, address, phone and e-mail block*/ 
#data
  {
  font-family: 'Garamond Bold', serif;
  color:#000000;
  text-align:left;
  padding-top:15px;
  line-height:1em;  
  }

#data a
 {
  font-family: 'Garamond', serif;
  color:#800000;
  text-align:left;
  text-decoration: none;
 }
 
#data a:hover
  {
  color:#ff0000;
  }

/*Picture/text blocks on Accident Page*/ 

/*Doppelganger deMedici Picture*/ 
#picture
 {
  font-family: 'Garamond Black', serif;
  color:#000000;
  text-align:left;
  }
  
#picture p
  {
  padding-bottom: 70px;
  }
 
/*Other Pictures*/

img
  {
  background:#ffffff;
  max-width: 100%;
  height: auto;
  margin: auto;
  color:#000000;
  padding:0px;
  float: center;  
  }
 
#picture1
  {
  background:#ffffff;
  font-family: 'Garamond Black', serif;
  color:#000000;
  margin:auto;
  padding:15px;
  text-align:center;
  /*dropshadows for pictures and text*/
  -webkit-box-shadow: 0px 5px 9px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 5px 9px 2px rgba(0,0,0,0.24);
  box-shadow: 0px 5px 9px 2px rgba(0,0,0,0.24);
  }
  
#picture2
 {
  background:#ffffff;
  font-family: 'Garamond Black', serif;
  color:#000000;
  margin:auto;
  padding:15px;
  float:center;
  text-align:center;
  /*dropshadows for pictures and text*/
  -webkit-box-shadow: 0px 5px 9px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 5px 9px 2px rgba(0,0,0,0.24);
  box-shadow: 0px 5px 9px 2px rgba(0,0,0,0.24);
  }
  
#picture3
 {
  background:#ffffff;
  font-family: 'Garamond Black', serif;
  color:#000000;
  margin:auto;
  padding:15px;
  text-align:center;
  /*dropshadows for pictures and text*/
  -webkit-box-shadow: 0px 5px 9px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 5px 9px 2px rgba(0,0,0,0.24);
  box-shadow: 0px 5px 9px 2px rgba(0,0,0,0.24);
  }
  
#picture4
 {
  background:#ffffff;
  font-family: 'Garamond Black', serif;
  color:#000000;
  margin:auto;
  padding:15px;
  text-align:center;
  /*dropshadows for pictures and text*/
  -webkit-box-shadow: 0px 5px 9px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 5px 9px 2px rgba(0,0,0,0.24);
  box-shadow: 0px 5px 9px 2px rgba(0,0,0,0.24);
  }
  
#picture5
 {
  background:#ffffff;
  font-family: 'Garamond Black', serif;
  color:#000000;
  margin:auto;
  padding:15px;
  text-align:center;
  /*dropshadows for pictures and text*/
  -webkit-box-shadow: 0px 5px 9px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 5px 9px 2px rgba(0,0,0,0.24);
  box-shadow: 0px 5px 9px 2px rgba(0,0,0,0.24);
  }
  
#picture6
 {
  background:#ffffff;
  font-family: 'Garamond Black', serif;
  color:#000000;
  margin:auto;
  padding:15px;
  text-align:center;
  /*dropshadows for pictures and text*/
  -webkit-box-shadow: 0px 5px 9px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 5px 9px 2px rgba(0,0,0,0.24);
  box-shadow: 0px 5px 9px 2px rgba(0,0,0,0.24);
  }
  
#picture7
 {
  background:#ffffff;
  font-family: 'Garamond Black', serif;
  color:#000000;
  margin:auto;
  padding:15px;
  text-align:center;
  max-width: 100%;
  /*dropshadows for pictures and text*/
  -webkit-box-shadow: 0px 5px 9px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 5px 9px 2px rgba(0,0,0,0.24);
  box-shadow: 0px 5px 9px 2px rgba(0,0,0,0.24);
  }
  
#picture7 p
 {
  background:#ffffff;
  font-family: 'Garamond Black', serif;
  color:#000000;
  margin:auto;
  padding:0px;
  text-align:left;
  max-width: auto;
  padding-top: 0px;
  margin-top: 0px;

  }
  
/*YouTube Video*/ 
#video
 {
  background:#ffffff;
  font-family: 'Garamond Black', serif;
  color:#000000;
  text-align:center;
  margin:auto;
  padding:15px;
  max-width: 100%;
  /*dropshadows for pictures and text*/
  -webkit-box-shadow: 0px 5px 9px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 5px 9px 2px rgba(0,0,0,0.24);
  box-shadow: 0px 5px 9px 2px rgba(0,0,0,0.24);
  }

object
  {
  background:#ffffff;
  max-width: 100%;
  color:#000000;
  margin:auto;
  padding:0px;
  float: center;   
  }
  
/*Footer*/  
footer
  {
  background-color:#ff0000;
  color:#ffffff;
  padding:0px;
  width: 100%
  height: 20px;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center;
  -webkit-box-shadow: 0px -9px 20px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px -9px 20px 2px rgba(0,0,0,0.24);
  box-shadow: 0px -9px 20px 2px rgba(0,0,0,0.24);
  }
 
footer a
  {
  font-family: 'Garamond', serif;
  color:#ffffff;
  text-decoration:none;
  font-size:17px;
  margin:auto;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  }
  
footer a:hover
  {
  color:#ffff00;
  }

  /* Media Queries */
@media(max-width: 768px)
  {
  #picture,
  #picture1,
  #picture2,
  #picture3,
  #picture4,
  #picture5,
  #picture6
  #picture7,
  #video,
  img
	   {
		padding:15px;
		max-width: 100%;
		margin:auto;
	   }   
	
	#picture7 p {
		padding:auto;
		max-width: 100%;
		margin:auto;
        		
	}

  }
 

